.wrap{
    margin:0;
}
.flow-hi{
    background: url("../images/flow-back1.0.png") no-repeat;
    width:100%;
    height:15.83rem;
    color: #FFFFFF;
}
.hi,.flow{
    float: left;
    width: 43%;
    margin-top: 3.75rem;
}
.hi>span,.flow>span{
    display: block;
    text-align: center;

}
.hi-bet{
    display: block;
    background:url("../images/flow-1.0.png") no-repeat;
    width: 14%;
    height: 3.5rem;
    float: left;
    margin-top: 5rem;
}
.hi:first-child{
    font-size: 1rem;
    font-family: pingh;
}
.hi:last-child{
    font-family: pingh;
    font-size:1rem;
}
.flow:first-child{
    font-size: 1rem;
    font-family: pingh;
}
.flow:last-child{
    font-size: 1rem;
    font-family: pingh;
}
#hibi,#flow{
    font-size: 3rem;
    font-family: numb;
}
.form{
    width:90%;
    position: absolute;
    top: 13rem;
    left: 2.5%;
    background-color: #ffffff;
    height:6.3rem;
    border-radius: 10px;
    padding-left:4.375%;
    font-size:1.33rem;
    line-height: 6.3rem;
    -webkit-box-shadow:0px 0px 40px 15px rgba(255, 68, 121, 0.1) ;
    box-shadow: 0px 0px 40px 15px rgba(255, 68, 121, 0.1);
}
input{
    font-size: 1rem;
    width:45%;
    border:none;
    height: 2.5rem;
    box-shadow: #5b5b5b 0px 2px 0px -1px;
    -webkit-box-shadow:#5b5b5b 0px 2px 0px -1px ;
    text-align: center;
}
.btn a{
    display: block;
    width: 56.25%;
    height: 3.33rem;
    margin: 6rem auto 1rem ;
    color: #ff4479;
    text-align: center;
    line-height: 3.33rem;
    background: url("../images/flow-btn.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 1.5rem;
    font-size: 1.33rem;
    -webkit-box-shadow:0px 10px 40px 15px rgba(255, 68, 121, 0.1) ;
    box-shadow: 0px 10px 40px 15px rgba(255, 68, 121, 0.1);
}
.btn1 a{
    display: block;
    width: 56.25%;
    height: 3.33rem;
    margin:0 auto 1.5rem;
    color: #ff4479;
    text-align: center;
    line-height: 3.33rem;
    background: url("../images/flow-btn.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 1.5rem;
    font-size: 1.33rem;
    -webkit-box-shadow:0px 10px 40px 15px rgba(255, 68, 121, 0.1) ;
    box-shadow: 0px 10px 40px 15px rgba(255, 68, 121, 0.1);
}
#container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}
#container canvas {
    width: 200%;
    height: 200%;
}
.show-int {
    display: none;
    opacity: 0.8;
    position: fixed;
    top: 40%;
    width: auto;
    padding: 1px 6px;
    line-height: 3.34rem;
    color: white;
    background: black;
    z-index: 10000;
    text-align: center;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    box-sizing: border-box;
}
.tag{
    margin:1rem 7.5% 7rem 14%;
    width:85%;
    text-align: left;
    color: #ff4479;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-family: pingh;
}
.tag h3{
    font-size: 1rem;
}
